In [1]:
from collections import Counter

In [2]:
s = "boardwayinfosys"

In [3]:
Counter(s)

Counter({'b': 1,
         'o': 2,
         'a': 2,
         'r': 1,
         'd': 1,
         'w': 1,
         'y': 2,
         'i': 1,
         'n': 1,
         'f': 1,
         's': 2})

In [4]:
class MethodTypes:
    def __init__(self, name):
        self.name= name
        def profile(self, address): #object instance 
            self.address = address
            print(f"my name is {self.name} from {self.address}")
        @classmethod #bulitin decoretor
        def clsmethod(cls, value):
            self.value= value
            print(f"class method is called with value: {value}")
        @staticmethod
        def statemethod(value): # this function can not access any of the above methods because it is not uses any instance of the above methods
            print(f"static method is called with value: {value}")

In [5]:
m = MethodTypes('Jhon')

In [6]:
m.name

'Jhon'

In [7]:
MethodTypes.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.MethodTypes.__init__(self, name)>,
              '__dict__': <attribute '__dict__' of 'MethodTypes' objects>,
              '__weakref__': <attribute '__weakref__' of 'MethodTypes' objects>,
              '__doc__': None})

In [8]:
class Account:
    def __init__(self,_type,amount):
        self.account_type={'nari_bachat':1000,'student':0}
        self._type=_type
        if _type not in self.account_type:
            raise ValueError(f'unknown account type: {_type}')
        self.total_amount=amount      
    def deposit(self,value):
        print(f'the total value is: {self.total_amount}')
        self.total_amount+=value
        print(f'the total value is: {self.total_amount}')
    def withdraw(self,value):
        if value%500!=0:
            raise ValueError('amount must be multiple of 500')
        if self.total_amount-value>=self.account_type[self._type]:
            print(f'the total value is: {self.total_amount}')
            self.total_amount=self.total_amount-value
            print(f'the total value is: {self.total_amount}')
        else:
            raise ValueError("Insufficient balance")
    def inquery(self):
        print(f"total blnc is: {self.total_amount}")

In [9]:
sita=Account('nari_bachat',500000)

In [10]:
sita=Account('nari',500000) #account type should be matched

ValueError: unknown account type: nari

In [11]:
try:
    name=input("enter the account name: ")
    act_type=input('Enter the account type (valid account types are: nari_bachat,student): ')
    valid_type=['nari_bachat','student']
    if act_type not in valid_type:
        raise ValueError("Invaid account type")
    amount=int(input('Enter the amount:'))
    name=Account(act_type,amount)
except ValueError as e:
    print(e)

else:
    while True:
        print('1. deposite')
        print('2. withdraw')
        print('3. inquery')
        print('4. Exit')
        action=int(input('choose any option from above: '))
        valid_action=1,2,3,4
        if action not in valid_action:
            print("invalid option")
            continue
        if action==1:
            amount=int(input('enter the amount'))
            name.deposit(amount)
            print("amount deposite sucessfully")
        if  action==2:
            amount=int(input("Enter the amount you want to withdraw(must be multiple of 500):"))
            name.withdraw(amount)
            print("amount withdraw sucessfully")
            continue
        if action==3:
            name.inquery()
            continue
        if action==4:
            break

enter the account name: nari_bachat
Enter the account type (valid account types are: nari_bachat,student): nari_bachat
Enter the amount:4
1. deposite
2. withdraw
3. inquery
4. Exit
choose any option from above: 4

# example

In [12]:
class Employee:
    employee_count = 0
    def __init__(self, name, salary):
        self.name= name
        self.salary = salary
        Employee.employee_count += 1
        
    def displayCount(self):
        print(f"The total number of employee are : {Employee.employee_count}")
    
    def displayEmployee(self):
        print(f"The employee name is : {self.name} and {self.name}'s salary is : {self.salary}")

In [13]:
emp1 = Employee('Kamal', 100000)

In [14]:
display = emp1.displayEmployee()

The employee name is : Kamal and Kamal's salary is : 100000

In [15]:
count = Employee.employee_count

In [16]:
count

1

In [17]:
emp2 = Employee('Ram', 100000)

In [18]:
emp2.displayEmployee()

The employee name is : Ram and Ram's salary is : 100000

In [19]:
count

1

In [215]:
class Student:
    stdCount = 0
    subjects = []
    def __init__(self, _id, name, sub):
        self._id = _id
        self.name = name
        self.sub = sub
        Student.stdCount += 1
        Student.subjects.append(sub)
        
        
    def dispalyStudent(self):
        print(f"Student Id : {self._id},  Student name : {self.name},  Student Choice Subject : {self.sub}")
        
    def dispalyCount(self):
        print(f"The Total number of student is : {Student.stdCount}")
    
    def displaysub(self):
        print(f"The Total number of subject are : {Student.sub}")
        
    def countSub():
        subjects = {}
        for i in allsubjects:
            subjects[i] = subjects.get(i,0) +1
        print(f"The total number of students by Subjects are : {subjects}")

In [199]:
student1 = Student(101, 'Kamal', 'IT')

In [200]:
student1.dispalyStudent()

Student Id : 101,  Student name : Kamal,  Student Choice Subject : IT

In [201]:
student2 = Student(105, 'Hari', 'IT')

In [202]:
student2.dispalyStudent()

Student Id : 105,  Student name : Hari,  Student Choice Subject : IT

In [203]:
count = Student.stdCount

In [204]:
count

2

In [205]:
student3 = Student(105, 'Ram', 'MGT')

In [206]:
student3.dispalyStudent()

Student Id : 105,  Student name : Ram,  Student Choice Subject : MGT

In [207]:
count

2

In [208]:
allsubjects = Student.subjects

In [209]:
allsubjects

['IT', 'IT', 'MGT']

In [216]:
Student.countSub()

The total number of students by Subjects are : {'IT': 2, 'MGT': 1}

In [ ]:
class Student:
    marks = []
    def getData(self, rn, name, m1, m2, m3):
        Student.rn = rn
        Student.name = name
        Student.marks.append(m1)
        Student.marks.append(m2)
        Student.marks.append(m3)
        
    def displayData(self):
        print ("Roll Number is: ", Student.rn)
        print ("Name is: ", Student.name)
        print ("Marks are: ", Student.marks)
        print ("Total Marks are: ", self.total())
        print ("Average Marks are: ", self.average())
        
    def total(self):
        return (Student.marks[0] + Student.marks[1] +Student.marks[2])
    
    def average(self):
        return ((Student.marks[0] + Student.marks[1] +Student.marks[2])/3)
    
r = int (input("Enter the roll number: "))
name = input("Enter the name: ")
m1 = int (input("Enter the marks in first subject: "))
m2 = int (input("Enter the marks in second subject: "))
m3 = int (input("Enter the marks in third subject: "))

s1 = Student()
s1.getData(r, name, m1, m2, m3)
s1.displayData()